/* Enlarge button styles */
.zoom-button {
  display: inline-flex;
  gap: 0.8rem;
  width: 100%;
  
  justify-content: center;
  align-items: center;

  padding: 0.8rem 1.6rem;
  background: var(--color-background);
  color: var(--color-foreground);
  border-radius: var(--button-border-radius);
  font-size: 1.2rem;
}
.product-media-slider[data-desktop-enabled="true"] .zoom-button {
  width: auto;
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-top: 0;
  transform: translate(-50%);
  transition: all 0.3s ease-in-out;
}
.zoom-button svg {
  height: 1.8rem;
  width: auto;
}

@media only screen and (max-width:1023px) {
  .zoom-button {
    display: none !important;
  }
}

/* Gallery modal */
.modal--zoom-gallery .modal-dialog {
  width: 100vw;
  max-width: none;
  height: 100vh;
  max-height: none;
  border-radius: 0 !important;
}
.modal--zoom-gallery .modal-body {
  padding: 0;
}
.modal--zoom-gallery .modal-close {
  position: fixed;
  top: 4rem;
  right: 4rem;
  padding: 1.2rem;
  min-width: 0;
  z-index: 100000 !important;
}

/* Gallery modal content */
.zoom-gallery-media {
  position: relative;
  border-top: 1px solid var(--color-borders);
}
.zoom-gallery-media:first-child {
  border: none;
}
.media-alt {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: var(--color-background-alt);
  color: var(--color-foreground);
  position: absolute;
  top: 4rem;
  max-width: 30vw;
  padding: 12px;
  left: 4rem;
  border-radius: min(8px, var(--card-border-radius));
}