@font-face {
  font-family: "Exo 2 Black";
  src: url({{"Exo2-Black" | assets_url}}) format("ttf");
}

@font-face {
  font-family: "Exo 2 Bold";
  src: url({{"Exo2-Bold" | assets_url}}) format("ttf");
}

@font-face {
  font-family: "Exo 2 Semi Bold";
  src: url({{"Exo2-SemiBold" | assets_url}}) format("ttf");
}

